/* CUERPO PÁGINA */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
}

/* BARRA DE NAVEGACIÓN */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333333; 
    position: relative; 
    top: 0px; 
    width: 100%; 
    z-index: 1000; 
    transition: top 0.9s ease-in-out;
}

.navbar a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #555555; 
    color: #ffffff;
}

.navbar a.active {
    background-color: #777777; 
    color: #ffffff;
}

#inicio, #servicios, #clientes, #sobre-nosotros, #contacto {
    display: none; 
}

/* REDES SOCIALES */
.redes-sociales {
    position: fixed; 
    right: 20px;
    top: 173px; 
    display: flex;
    gap: 10px;
    z-index: 1001;
}

/* BOTONES DE REDES SOCIALES */
.social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.social-button:hover {
    background-color: #fff;
    color: #333;
}

/* TÍTULO */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    text-align: center;
    background-color: #e0e0e0;
    font-size: 20px;
    height: 150px; 
}

.title #titulo {
    width: 300px; 
    height: auto; 
}

.title #logo {
    position: absolute;
    left: 100px; 
    width: 180px;
    height: 180px;
    object-fit: scale-down;
}

.title img {
    display: block;
}

/* IMAGEN PRINCIPAL Y LOGO*/
.img_principal {
    width: 100%;
    max-height: 250px;
    display: flex;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    cursor: pointer;
}

/* CONTENEDOR */
.container {
    background-color: #e0e0e0; 
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px; 
    width: 75%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #333333; 
}

.container h1 {
    margin-bottom: 15px;
    color: #b30000; 
    text-align: center;
}

.titulo {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    font-size: 35px;
}

.container .active {
    display: block;
}

/* TEXTO DEL TÍTULO Y DESARROLLO */
.st-main {
    text-align: center;
    font-size: 48px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #b30000; 
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 1.5px; 
}

.text-main {
    text-align: center;
    font-size: 22px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    margin: 0 auto 20px auto;
    line-height: 1.6; 
    max-width: 80%; 
}

.text-main p {
    margin-bottom: 15px;
}

.text-main p:last-child {
    margin-bottom: 0;
}

.text-main::before {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #b30000; 
    margin: 0 auto 20px auto; 
}

.text-main::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #b30000; 
    margin: 20px auto 0 auto; 
}

/* SERVICIOS */
.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-section h2 {
    text-align: center;
    position: relative;
    top: 0; 
    transition: top 0.3s ease; 
}

.title-moved {
    top: 20px; 
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: start; 
}

.service.active {
    display: block;
    position: relative;
    top: 0;
}

.service-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.service-item {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin: 0 10px;
}

.service-item p {
    text-align: justify;
    font-size: 22px;
    font-family: 'Arial', sans-serif;
}

.service-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 15px;
}

.button-container {
    margin-top: 15px;
}

.contact-button {
    text-decoration: none; 
    color: white; 
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #b30000; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.contact-button:hover {
    background-color: #990000;
}

.contact-button i {
    margin-right: 8px; 
    font-size: 16px;   
}

/* DETALLE SERVICIOS */
#detalle-servicio {
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    margin-top: 50px;
}

#detalle-servicio.mostrar {
    display: block;
    opacity: 1;
}

#detalle-servicio.oculto {
    display: none;
}

#detalle-servicio h2 {
    font-size: 2em;
    color: #c00;
}

#detalle-servicio p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #555;
}

#detalle-servicio button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.back-button {
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none; 
    color: white; 
    padding: 10px 20px;
    background-color: #b30000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-size: 16px;
    display: inline-flex; 
    align-items: center;
}

.back-button:hover {
    background-color: #990000; 
}

.back-button i {
    margin-right: 8px; 
    font-size: 16px;
}

#servicios, #detalle-servicio {
    transition: opacity 0.5s ease-in-out;
}

.oculto {
    display: none;
    opacity: 0;
}

.detalle-imagen {
    width: 100%;
    max-height: 250px;
    display: flex;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.5s ease-in-out;
}

.detalle-imagen.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.detalle-imagen.fade-in.show {
    opacity: 1;
}

/* SOBRE NOSOTROS */
.about-section {
    margin-bottom: 60px;
    text-align: center;
    background-color: #e0e0e0; 
    border-radius: 10px;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
}

.about-section p {
    font-size: 20px;
    line-height: 1.8;
    color: #333333; 
    margin: 0 auto;
    max-width: 80%;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    width: 300px;
    background: linear-gradient(to bottom, #f9f9f9, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.card-header {
    background: linear-gradient(135deg, #b30000, #a30000);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.card:hover {
    transform: scale(1.05);
}

/* CONTENIDO DENTRO DE LA PÁGINA Y BOTONES */
.collapsible:hover {
    background: linear-gradient(135deg, #a30000, #990000); 
}

.collapsible.active, .collapsible:focus {
    background: linear-gradient(135deg, #990000, #b30000); 
}

.collapsible-content {
    padding: 20px;
    margin-left: 43px;
    display: none;
    text-align: justify;
    background: linear-gradient(to bottom, #f9f9f9, #ffffff);
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #ddd;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.card.active .collapsible-content {
    display: block;
    opacity: 1;
    max-height: 600px; 
}

.collapsible-content p, .card p {
    text-align: center; 
    margin: 0;
    font-size: 22px;
}

.mission-promise p {
    text-align: center;
}

.services p, .services ul {
    text-align: justify;
}

.collapsible-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.collapsible-content.services ul {
    text-align: left;
}

/* CARRUSEL */
.carousel-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0; 
    padding: 10px;
    border-radius: 10px;
    width: 76%; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

#carousel-image {
    max-width: 835px; 
    max-height: 436px; 
    width: 100%; 
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.service-label {
    position: absolute;
    top: 30px; 
    left: 20px; 
    background-color: rgba(51, 51, 51, 0.8); 
    box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.5);
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 140px;
}

.service-label span {
    display: block;
    white-space: nowrap;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px; 
    height: 50px; 
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease; 
    user-select: none;
    background-color: #a30000; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 10; 
}

.next {
    right: 80px; 
}

.prev {
    left: 80px; 
}

.prev:hover, .next:hover {
    background-color: rgba(163, 0, 0, 0.8); 
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators div {
    width: 15px;
    height: 15px;
    background-color: #a30000;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-indicators div.active {
    background-color: #ff0000;
}

/* FORMULARIO DE CONTACTO */
#contact-form {
    background-color: #ecebeb; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333333; 
    margin-bottom: 5px;
    text-align: center;
}

.form-group input, .form-group textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #b30000;
    border-radius: 5px;
    font-size: 16px;
    color: #333333; 
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.form-group textarea {
    resize: none;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #a30000; 
    outline: none;
}

.button-group {
    text-align: center; 
    margin-top: 20px;
}

button[type = "submit"] {
    background-color: #b30000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type = "submit"]:hover {
    background-color: #990000; 
}

/* CHATBOT */
.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e63946; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.chatbot-button:hover {
    background-color: #d62839; 
}
